@import url('https://fonts.googleapis.com/css?family=Amaranth|Open+Sans');

* {
  box-sizing: border-box;
  color: #173761;
}

header {
  width: 70%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  height: 30%;
  text-align: center;
  background-color: #537B9E80;
  font-family: 'Amaranth', serif;
  font-size: 2.6em;
  border: 1px solid #173761;
}

h1 {
  margin-top: 2%;
  margin-bottom: 2%;
}

main {
  width: 70%;
  height: 100%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

#display-images {
  float: left;
  margin: auto;
  width: 100%;
  text-align: center;
}

#display-images p {
  margin-bottom: 6%;
  font-size: 1.1em;
}

#display-images ul {
  height: 100%;
  margin: auto;
}

#display-images ul li {
  float: left;
  margin-left: 6%;
  width: 26%;
}

#display-images img {
  width: 100%;
  margin: auto;
}

#results-heading {
  font-size: 1.5em;
  text-decoration: underline;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 5%;
}

aside {
  float: left;
  width: 33%;
}

aside ul {
  background-color: #537B9E80;
}

aside h3 {
  text-align: center;
  font-family: 'Amaranth', serif;
  font-size: 1.4em;
  text-decoration: underline;
  margin-bottom: 10%;
  padding-top: 10%;
}

aside li {
  margin: 5%;
}

aside ul:last-child {
  padding-bottom: 5%;
}

aside ul:empty {
  padding-bottom: 0;
}

#bar-section {
  width: 66%;
  float: right;
  margin: auto;
}

#pie-section {
  width: 66%;
  float: right;
  margin: auto;
}
