/* Colors
#173761
#3A6D94
#537B9E
#ADB5BD
#FFFFFF

font-family: 'Amaranth', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

@import url('https://fonts.googleapis.com/css?family=Amaranth|Open+Sans');

* {
  box-sizing: border-box;
  color: #173761;
}

header {
  width: 960px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100px;
  text-align: center;
  background-color: #537B9E80;
  font-family: 'Amaranth', serif;
  font-size: 2.5em;
  border: 1px solid #173761;
}

h1 {
  margin-top: 30px;
}

main {
  width: 960px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

#display-images {
  border: 2px dotted red;
  float: left;
  margin: auto;
  width: 960px;
  text-align: center;
}

#display-images p {
  margin-bottom: 30px;
}

#display-images ul {
  border: 2px dotted orange;
  height: 300px;
  margin: auto;
}

#display-images ul li {
  float: left;
  margin-left: 6%;
  width: 26%;
  background-color: yellow;
  border: 3px solid blue;
}

#display-images img {
  width: 200px;
  margin: auto;
  max-height: 200px;
}

aside {
  float: left;
  background-color: #537B9E80;
  padding: 20px;
}

aside h2 {
  text-align: center;
  font-family: 'Amaranth', serif;
  font-size: 1.4em;
  text-decoration: underline;
  margin-bottom: 24px;
}

aside li {
  margin-top: 8px;
}

#chart-section {
  width: 65%;
  float: right;
  margin: auto;
}
